<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PubFinder</title>
    <% include ./partials/scripts %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <% for(const type in messages) { %>
      <div class="<%= type %>">
        <h5><%= messages[type] %></h5>
      </div>
    <% } %>
    <section class="opaque">
    <main>
      <%- body %>
    </main>
  </section>
    <% include ./partials/spreadsheets %>
  </body>
</html>
