<div class="continer">

  <h1 class="col-lg-12">PubFinder</h1>
  <% if(locals.isAuthenticated) { %>
  <div class="row">
  <div class="col-lg-4 homeLeft">
    <div class="form">
      <form action="/" method="GET">

        <label for="expensiveness" class="col-lg-5" >Expensiveness</label>
        <select class="form-control" name="expensiveness">
          <option value=""></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <label for="atmosphere" class="col-lg-5">Atmosphere</label>
          <select class="form-control" name="atmosphere">
            <option value=""></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>

          <button type="submit"id="search">Go!</button>


      </form>
      </div>
      <div class="pub hidden">
    </div>
  </div>



  <div id="map" class="col-lg-6"></div>
  <% } else {%>
</div>


  <div class="mustLogIn">
    <h3 class="col-lg-12">Log In to use this awesome app!</h3>
  </div>
  <% } %>
<div class="map1" data-pubs="<%= JSON.stringify(pubs) %>"></div>
