<div class="container loginForm">
  <h1>LOGIN</h1>
      <form method="POST" action="/login">
        <div>
          <label for="email">Email</label>
          <input type="text" name="email" id="email" required  class="form-control">
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required  class="form-control">
        </div>

        <button>Login</button>
      </form>

      <a href="<%= oauth.github.getLoginURL() %>"><button>Login with Github</button></a>
</div>
