<div class="container">

  <div class="row">
    <div class="col-lg-5">
      <img src="<%= user.profileImageSRC %>" alt="<%= user.username %>"><br>
      <a href="/user/images/new" class="btn btn-outline-primary">Add image</a>
    </div>
    <div class="col-lg-5">
      <h1 class="col-lg-12"><%= user.username %></h1>
      <h4 class="col-lg-12"><%= user.githubId %></h4>
    </div>
  </div>
</div>
