<section>
  <div class="container editForm">
    <h1>Edit</h1>

    <form method="POST" action="/pubs/<%= pub.id %>">
      <input type="hidden" name="_method" value="PUT">
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= pub.name %>" class="form-control">
      </div>
      <div>
        <label for="address">Address</label>
        <input type="text" name="address" id="address" value="<%= pub.address %>" class="form-control">
      </div>
      <div>
        <label for="expensiveness">Expensiveness</label>
        <select class="form-control" name="expensiveness">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div>
        <label for="atmosphere">Atmosphere</label>
        <select class="form-control" name="atmosphere">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <button>Update Pub</button>
    </form>
  </div>
</section>
