<section>
  <div class="container">
    <form method="POST" action="/pubs">
      <input type="hidden" name="lat">
      <input type="hidden" name="lng">
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control">
      </div>
      <div>
        <label for="address">Address</label>
        <input type="text" name="address" id="address" class="autocomplete">
      </div>
      <div>
        <label for="expensiveness">Expensiveness</label>
        <input type="number" name="expensiveness" id="expensiveness" class="form-control">
      </div>
      <div>
        <label for="atmosphere">Atmosphere</label>
        <input type="number" name="atmosphere" id="atmosphere" class="form-control">
      </div>
      <fieldset>
        <label for="comments">Comments</label>
        <textarea name="name" placeholder="Comments" rows="4" cols="20" class="form-control"></textarea>
      </div>
      <div>
        <label for="image">Image</label>
        <input type="file" name="image" id="image">
      </div>
      <button class="btn btn-outline-primary">Add</button>
    </form>
  </div>
</section>
