<section>
  <h1>Find a Pubs</h1>
<section>

  <div class="container">
    <div>
      <label>Where?</label>
      <label>Country/ski area</label>
      <select>
        <option selected="selected" value="CHE">Switzerland</option>
        <option value="AND">Andorra</option>
        <option value="AUT">Austria</option>
        <option value="BGR">Bulgeria</option>
        <option value="CAN">Canada</option>
        <option value="FIN">Finland</option>
        <option value="FRA">France</option>
        <option value="DEU">Germany</option>
        <option value="ITA">Italy</option>
        <option value="NOR">Norway</option>
        <option value="SVN">Slovenia</option>
        <option value="USA">USA</option>
      </select>
    </div>
    <div>
      <label>Pub(optional)</label>
      <select>
        <option  selected="selected">Grindelwald</option>
        <option>Example 2</option>
        <option>Example 3</option>
      </select>
    </div>
    <div>
      <label selected="selected">Accommodation (optional)</label>
      <select>
        <option>I don't mind</option>
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>
    <div>
      <label>Flights (optional)</label>
      <select>
        <option selected="selected">I don't mind</option>
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>
    <button type="button" name="button" class="btn btn-outline-primary">SEARCH</button>
  </div>
  <section>
    </section>
</section>
